[Unit]
Description=Log management service

[Service]
Type=simple
ExecStart=sudo /usr/local/share/battery_manager.py
Restart=always

[Install]
WantedBy=multi-user.target
