[Unit]
Description=Log files management service

[Service]
Type=simple
ExecStart=/usr/local/share/logManager.py
Restart=always

[Install]
WantedBy=multi-user.target
