[Unit]
Description=OBD logger service

[Service]
Type=simple
ExecStart=/usr/local/share/obd_logger.py
Restart=always

[Install]
WantedBy=multi-user.target
