[Unit]
Description=Log management service

[Service]
Type=simple
ExecStart=/usr/local/share/powerManagement.py
Restart=always

[Install]
WantedBy=multi-user.target
